---
---
@import 'normalize';
@import 'skeleton';

body,h1, a {
    color: white;
}

  
.image-home {
    background-image: url('../images/truck.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.image-about {
    background-image: url('../images/leo.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.image-contact {
    background-image: url('../images/containers.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.u-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}